@model IEnumerable<AvcolFacilityManager.Models.Facility>

@{
    ViewData["Title"] = "Index";
}

<h1>Facilities</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
}

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Find by facility name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
            <input type="submit" value="Search" class="btn btn-outline-primary" /> |
            <a class="btn btn-primary" asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FacilityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacilityType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacilityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacilityType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                    @if (User.IsInRole("Admin"))
                    {
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.FacilityId">Edit</a> 
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.FacilityId">Details</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.FacilityId">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
