@using AvcolFacilityManager.Models;
@model PaginatedList<AvcolFacilityManager.Models.Bookings>

@{
    ViewData["Title"] = "Index";
}

<h1>Bookings</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Search by Facility Name or First Name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
            <input type="submit" value="Search" class="btn btn-outline-primary" /> |
            <a class="btn btn-primary" asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

@if (!Model.Any())
{
    <div class="alert alert-warning" role="alert">
        You currently have no bookings, click "Create New" to make a booking.
    </div>
}

else{
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Facility
            </th>
            <th>
                Date
            </th>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facility.FacilityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.BookingId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}

@if (Model.Any()){
<!--Deciding whether the previous and next buttons should be active-->
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";


<!--Links for the pagination navigation-->
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @nextDisabled">
    Next
</a>

<!--Displaying current page number and total pages-->
<div>
    Page @Model.PageIndex of @Model.TotalPages
</div>
}